// main.scss
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css";
@import url('https://fonts.googleapis.com/css?family=Lora:400,700');
@import url('https://afeld.github.io/emoji-css/emoji.css');

@import "sapling/sapling.scss";
@import "dali/dali.scss";

@import '_colors.scss';
@import "_mixins.scss";
@import "_hacks.scss";


body {
    font-family: 'Lora', serif;
    text-align: center;
    overflow: hidden;

}

h1{
    font-family: 'Lora', serif;
    font-weight: 400;
    padding-top: 15%;

}

.mood-txt {
    width: 100%;
    height: 101vh;
    margin-top: -25px;
   
    // margin-top: 1em;

    .em, .sat-txt {
        font-size: 2.5em;
    }
}

.yes{
    @extend .mood-txt;
    background-color: #7ce288;
}

.no{
    @extend .mood-txt;
    background-color: #ed0f0f;
}

.sorta{
    @extend .mood-txt;
    background-color: #fff1a1;
}